{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <body>
        <form method="post">
            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                <div class="card-body p-5 text-center">
                                    <div class="mb-md-5 mt-md-4 pb-5">
                                        {% for flash_error in app.flashes('reset_password_error') %}
                                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                        {% endfor %}
                                        <h2 class="fw-bold mb-2 text-uppercase">Réinitialisez votre mot de passe</h2>
                                        <br>
                                        {{ form_start(requestForm) }}
                                        {{ form_label(requestForm.Email)}}
                                        <br>
                                        {{ form_widget(requestForm.Email)}}
                                        <br>
                                        <br>
                                        <div>
                                            Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                                        </div>

                                        <button class="btn btn-primary">Envoyer</button>
                                        {{ form_end(requestForm) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </body>
{% endblock %}
