{% extends 'base.html.twig' %}
{% block body %}


    <table class="table table-striped" style="table-layout: auto;
width: 100%;">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Nom </th>
            <th scope="col"> Prenom </th>
            <th scope="col"> Email </th>
            <th scope="col">  </th>
        </tr>
        </thead>
        {% for medecin in medecins %}
            <tr>
                <td> {{medecin.Nom}} </td>
                <td> {{medecin.Prenom}} </td>
                <td> {{medecin.EMail}} </td>
                <td>
                    <a href="{{path('app_admin_valide_delete_compte',{'id': medecin.id})}}"><input type='button' class="btn btn-danger" value="Supprimer"/></a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <table class="table table-striped" style="table-layout: auto;
width: 100%;">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Nom </th>
            <th scope="col"> Prenom </th>
            <th scope="col"> EMail </th>
            <th scope="col">  </th>
        </tr>
        </thead>
        {% for infirmier in infirmiers %}
            <tr>
                <td> {{infirmier.Nom}} </td>
                <td> {{infirmier.Prenom}} </td>
                <td> {{infirmier.Email}} </td>
                <td>
                    <a href="{{path('app_admin_valide_delete_compte',{'id': infirmier.id})}}"><input type='button' class="btn btn-danger" value="Supprimer"/></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}