{% extends 'base.html.twig' %}

{% block title %}Hello DossierPatientController!{% endblock %}

{% block body %}
    {% for infoPatient in InfoPatient %}
<h1>Dossier Patient</h1>
    <h4>nom = {{ infoPatient.Personne.nom }}</h4>
    <h4>prenom = {{ infoPatient.Personne.prenom }}</h4>
    <h4>raison = {{ infoPatient.Raison }}</h4>
    <h4>date d'entree = {{ infoPatient.DateHeureEntree|date("H:i d/m/Y") }}</h4>
    <h4>date de sortie = {{ infoPatient.DateHeureSortie is empty ? "" : infoPatient.DateHeureSortie|date("H:i d/m/Y") }}</h4><button>definir/modifier la date de sortie</button>

        <h2>Diagnostic</h2>
        <table class="table">
            <tr>
                <th scope="col">Diagnostic</th>
            </tr>
            {% for diagno in infoPatient.Personne.Diagnostiquer %}
                <tr>
                    <td>{{ diagno.Diagnostic }}</td>
                </tr>
            {% endfor %}
        </table>
        <button>ajouter un diagnostic</button>

        <h2>Prescription</h2>
        <table class="table">
            <tr>
                <th scope="col">medicament</th>
                <th scope="col">quantiter</th>
                <th scope="col">date de fin</th>
            </tr>
            {% for prescri in infoPatient.Personne.appliquerPrescriptions %}
                <tr>
                    <td>{{ prescri.Prescription.Medicament.NomMedicament }}</td>
                    <td>{{ prescri.Prescription.Unite }}</td>
                    <td>{{ prescri.Prescription.DateFin is empty ? "" : prescri.Prescription.DateFin|date("H:i d/m/Y") }}</td>
                </tr>
            {% endfor %}
        </table>
        <button>ajouter un diagnostic</button>

    {% endfor %}
{% endblock %}
