{% extends 'base.html.twig' %}

{% block title %}Hello DossierPatientController!{% endblock %}

{% block body %}
    {% for infoPatient in InfoPatient %}
<h1>Dossier Patient</h1>
    <h4>nom = {{ infoPatient.Personne.nom }}</h4>
    <h4>prenom = {{ infoPatient.Personne.prenom }}</h4>
    <h4>raison = {{ infoPatient.Raison }}</h4>
    <h4>date d'entree = {{ infoPatient.DateHeureEntree|date("H:i d/m/Y") }}</h4>
    <h4>date de sortie = {{ infoPatient.DateHeureSortie is empty ? "" : infoPatient.DateHeureSortie|date("H:i d/m/Y") }}</h4><!--<button>definir/modifier la date de sortie</button>-->
    <h4>date de sortie = {{ infoPatient.DateHeureSortie is empty ? "" : infoPatient.DateHeureSortie|date("H:i d/m/Y") }}</h4><button><a href={{ path('dossier_date_sortie',{"idpatient": infoPatient.id}) }}>definir/modifier la date de sortie</a></button>
    <h4>service actuelle = {{ infoPatient.Service }}</h4><button><a href={{ path('dossier_service',{"idpatient": infoPatient.id}) }}>definir/modifier le service</a></button>

        <h2>Diagnostic</h2>
        <table class="table">
            <tr>
                <th scope="col">Diagnostic</th>
            </tr>
            {% for diagno in infoPatient.Personne.Diagnostic %}
                <tr>
                    <td>{{ diagno.Diagnostic }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href={{ path('app_dossier_patient_ajout_diagno',{"idper": infoPatient.Personne.id}) }}><button>ajouter un diagnostic</button></a>

        <h2>Prescription</h2>
        <table class="table">
            <tr>
                <th scope="col">Medicament</th>
                <th scope="col">Quantiter</th>
                <th scope="col">Date de fin</th>
                <th>Appliquer la prescription</th>
                <th>Modification</th>
            </tr>
            {% for prescri in Presciption %}
                <tr>
                    <td>{{ prescri.Prescription.Medicament.NomMedicament }}</td>
                    <td>{{ prescri.Prescription.Unite }}</td>
                    <td>{{ prescri.Prescription.DateFin is empty ? "" : prescri.Prescription.DateFin|date("H:i d/m/Y") }}</td>
                    <td><a href="{{ path('patient_appliquer', {"idprescription": prescri.Prescription.id ,"idpatient": infoPatient.Personne.id }) }}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Appliquer</a></td>
                    <td><a href="{{ path('patient_modifier', {"idprescription": prescri.Prescription.id}) }}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Modifier</a></td>
                </tr>
            {% endfor %}
        </table>
        {% if is_granted('ROLE_MEDECIN') %}
            <a href={{ path('app_dossier_patient_ajout_prescri',{"idper": infoPatient.Personne.id}) }}><button>ajouter une prescription</button></a>
        {% endif %}
    {% endfor %}

    <h2> Déjà appliquer </h2>
    <table class="table">
        <tr>
            <th scope="col">Soignant</th>
            <th scope="col"> Médicament </th>
            <th scope="col">Heure et Date</th>
        </tr>
        {% for dejaprescris in DejaPrescri %}
            <tr>
                <td>{{ dejaprescris.Soignant.Nom }}</td>
                <td>{{ dejaprescris.Prescription.Medicament.NomMedicament }}</td>
                <td>{{ dejaprescris.DateHeureApplication is empty ? "" : dejaprescris.DateHeureApplication|date("H:i d/m/Y")}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
