{% extends 'base.html.twig' %}
{% block title %}Modifier des rendez-vous
{% endblock %}
{% block body %}
	<h1>Appliquer des heures à des rendez-vous</h1>

	<style>
		th{
			text-align:center;
			background:  #e62e00;
            color:white;
            font-size: 18px;
		}
		td{
			text-align:center;
		}
		#textinput{
			border: 2px solid #008000;
			border-radius: 12px;
		}
		#textinput:focus{
			background-color: #ffffe6;
			border-radius: 2px;
		}
	</style>
	<script>
		function validateForm() {
			var x = confirm("Voulez-vous vraiment modifier ces rendez-vous ?");
			if (x) {
				// On récupère le formulaire et on le soumet
				return document.forms[0].submit();

			}
			else {
				// On récupère le checkbox qui s'appelle event[] et on le décoche
				return document.getElementsByName("event[]").checked = false;
			}
		}
	</script>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Patient</th>
				<th>Horodatage</th>
				<th>Motif</th>
				<th>Titre</th>
				<th>Salle</th>
				<th>Durée</th>
				<th>Valider</th>
			</tr>
		</thead>
		<tbody>

			{% for event in events %}
				<tr>
					<td>{{ event.personne1.nom ~ " " ~ event.personne1.prenom}}</td>
					<td>{{ event.dateheure|date('d/m/Y H:i') }}</td>
					<td>{{ event.description }}</td>
					<form action="{{ path('ajoutHeureRDV') }}" method="post">
						<td><input id="textinput" type="text" name="titre" value="{{ event.titre }}"></td>
						<!--<td><input id="textinput" type="text" name="salle" value="{{ event.salle }}"></td>-->
						<td><select name="salle">
							{% for salle in salles %}
								<option>{{ salle.EmplacementSalle }}</option>
							{% endfor %}
						</select></td>
						<td><input id="textinput" type="number" name="duree" min="15" max="1440" value="{{ event.duree }}"></td>
						<input type="hidden" name="id" value="{{ event.id }}">
						<td><input type="checkbox" name="event[]" onclick="return validateForm()"></td>
					</form>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
