{% extends 'base.html.twig' %}

{% block title %}Consultation d'un contact{% endblock %}
{% block body %}
    <link rel="stylesheet" href="/CSS/autoresizetextarea.css">
    <script src="/JS/resizearea.min.js"></script>
        <style>

            .no-outline {
                border-top-style: hidden;
                border-right-style: hidden;
                border-left-style: hidden;
                border-bottom-style: hidden;
                background-color: #f9f9f9;
            }
        </style>
        <script>
            function textAreaAdjust(element) {
                element.style.height = "1px";
                element.style.height = (25+element.scrollHeight)+"px";
            }
        </script>

    <table style="horizontal-align: middle;" class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center"> Patient </th>
                <th class="text-center"> Salle </th>
                <th class="text-center"> Raison de la visite </th>
                <th class="text-center"> Code d'entrée </th>
                <th class="text-center"> Service </th>
            </tr>
        </thead>

        <tr>
            <form>
                <td class="text-center"> {{personne.Nom}}  {{personne.Prenom}} </td>

            {% for locsalle in salle %}
                <td class="text-center"> {{locsalle.NomSalle}} </td>
            {% endfor %}

                
                <td><textarea onkeyup="textAreaAdjust(this)" style="overflow:hidden" class="form-control textarea-autosize" id="raison" rows="3" placeholder="Ajouter la raison de la visite"></textarea></td>

                <td class="text-center"><input  class="no-outline" type="text" name="code" id="code" Value="{{code}}"/></td>

                <td class="text-center">
                    <select name="service" id="service-select">
                        {% for service in services %}
                            <option value="{{service.id}}">{{service.NomService}}</option>
                        {% endfor %}
                    </select>
                        <input class="btn btn-success"  value="Assigner" type="submit" formmethod = "POST" formaction="{{path('infirmier_verification_code')}}"></input>
                </td>
                
            </form>
        </tr>
    </table>


{% endblock %}



