{% extends 'base.html.twig' %}

{% block titre %}
	<title>
		{{'Visualisation des lits'}}
	</title>
{% endblock %}

{% set strNumLit, strPosLit, strOccLit, strBouton = "Numéro", "Emplacement", "Occupation", "Gestion" %}

{% block body %}
	<link rel="stylesheet" href="/CSS/styleTable.css">
	<h1>{{ 'Visualisation des lits' }}</h1>
	{% block content %}
		<table
			class="table-info">
			{# class="table-info" #}
			<thead>
				<tr>
					<th>
						{{ strNumLit }}
					</th>
					<th>
						{{ strPosLit }}
					</th>
					<th>
						{{ strOccLit }}
					</th>
					<th>
						{{ strBouton }} <button class="boutonAjouter" onclick="window.location.href='{{path('lits_Ajouter')}}';"><span>+</span></button>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for lit in lits %}
					<tr>
						<td data-label="{{ strNumLit }}">
							{{ lit.id }}
						</td>
						<td data-label="{{ strPosLit }}">
							{{ lit.salle.EmplacementSalle }}
						</td>
						<td data-label="{{ strOccLit}}">
							{% if lit.LitOccupe == 1 %}
								{{ 'Occupé' }}
							{% else %}
								{{ 'Libre' }}
							{% endif %}
						</td>
						<td data-label="{{ strBouton}}">
							<a href="{{ path('lits_Modifier' , {"id": lit.id}) }}"><input class="boutonModifier" type='button' value="Modifier"></input></a>
							<a onclick="return confirm('Voulez-vous supprimer ce lit ?')" href="{{ path('lits_Supprimer' , {"id": lit.id}) }}"><input class="boutonSupprimer" type='button' value="Vider"></input></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endblock %}

	<div class="pagination">
		{% if (nbTotalPages > 1)  %}
			{% for myPage in 1..nbTotalPages %}
				<a href="{{ path('list_lits', {'page': myPage}) }}">
					<button>
						{{myPage}}
					</button>
				</a>
			{% endfor %}
		{% endif %}
	</div>

{% endblock %}
